{% extends "layout.html" %}
{% block body %}
<div class='form'>
    <form method='POST' action="{{ url_for('add', username = username) }}">
        {{ form.hidden_tag() }}
        {{ form.back }}<br><br><br>
        {{ form.name.label }} {{ form.name }}  <br> 
        {{ form.stock.label }} {{ form.stock }}<br> 
        {{ form.price.label }} {{ form.price }}<br>
        {{ form.for_sale.label }} {{ form.for_sale }}<br><br>
        {{ message }} <br>
        {{ form.add_item }}
    </form>
</div>
{% endblock body %}